<!--템플릿 상속 적용-->
{% extends "app/base.html" %}

{% block content %}
    {% for post in post_list %}
        <div>
            <!-- TODO : url reverse 기능을 쓰도록 수정이 되어야 함-->
            <a href="/app/{{post.id}}/">
                {{ post.id }}, {{ post.title }}
            </a>
        </div>
    {% endfor %}
    <hr>
    <a href="/app/new/">새 포스팅</a>
{% endblock %}

<!--<!doctype html>-->
<!--<html lang="ko-">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Django page</title>-->
<!--</head>-->
<!--<body>-->

<!--    <h1>Post List</h1>-->

<!--    {% for post in post_list %}-->
<!--        <div>-->
<!--            {{ post.id }}, {{ post.title }}-->
<!--        </div>-->
<!--    {% endfor %}-->

<!--</body>-->
<!--</html>-->